.site-footer {
    
    &__ws-logo {
        display: inline-block;

        img,
        svg {
            opacity: .5;
            transform: rotate(0);
            transition: opacity .5s, transform .5s;
        }

        &:hover,
        &:focus,
        &:active {

            img,
            svg {
                opacity: 1;
                transform: rotate(-360deg);
            }
        }
    }
}