.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    @include center-block;
}

.img-align-outer {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: calc(100% * 2 / 3);
}

.img-align-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        vertical-align: top;
        width: 100%;
        height: 100%;
        object-fit: cover;
        font-family: 'object-fit: cover';
    }
}