// Breakpoints

$bp_mobile-sm: 520px;
$bp_mobile: 767px;
$bp_tablet: 992px;
$bp_desktop-sm: 1200px;
$bp_desktop-md: 1366px;
$bp_desktop-lg: 1540px;
$bp_desktop-xl: 1620px;

$bp_menu: (nth($bp_mobile, 1) + 1px);
$bp_content: (nth($bp_tablet, 1) + 1px);

// Colors

$color_primary: #00aeef;
$color_secondary: #f42028;

$color_lightbrown: #faf7f3;
$color_lightblue: #ebf4fa;

$color_border: #f1f1f1;

$color_bg-body: #fff;
$color_bg-screen: #f1f1f1;
$color_bg-button: $color_secondary;
$color_bg-pre: #eee;
$color-bg-ins: #fff9c0;

$color_text-main: #443f3a;
$color_text-screen: #21759b;
$color_text-input: #666;
$color_text-input-focus: #111;

$color_link: $color_text-main;
$color_link-visited: $color_link;
$color_link-hover: $color_link;

// Typography

$font_heading:  'Aino', 'Avenir Next LT Pro', sans-serif;
$font_body:  'Avenir Next LT Pro', sans-serif;

$font_code:  'Avenir Next LT Pro', sans-serif;
$font_pre:  'Avenir Next LT Pro', sans-serif;

$font_line-height-body: 1.5;
$font_line-height-pre: 1.6;

// Columns

$columns: (
    1: 100%,
    2: 50%,
    3: 33.33%,
    4: 25%,
    5: 20%,
    6: 16.66%,
    7: 14.28%,
    8: 12.5%,
    9: 11.11%
);

$columns_margin: 3.8%;