$breakpoint_mobile: 480px;
$breakpoint_tablet: 720px;
$breakpoint_desktop-small: 960px;
$breakpoint_desktop-medium: 1260px;
$breakpoint_desktop-large: 1540px;

$breakpoint_menu: 1024px;
$breakpoint_content: $breakpoint_desktop-medium;