$font_heading: serif;
$font_body: sans-serif;

$font_code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font_pre: "Courier 10 Pitch", Courier, monospace;

$font_line-height-body: 1.5;
$font_line-height-pre: 1.6;