button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	display: inline-block;
	padding: .8em 1.5em;
	border: none;
	border-radius: 0;
	font-family: $font_heading;
	color: $color_text-main;
	background-color: $color_bg-button;
	line-height: 1;

	&:hover,
	&:active,
	&:focus {
		text-decoration: underline;
	}
}