html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background: $color_bg-body;
}

hr {
	background-color: $color_text-main;
	border: 0;
	height: 1px;
	margin: 1rem 0;
	text-align: left;
}

img {
	height: auto;
	max-width: 100%;
	flex-shrink: 0;
}

figure {
	margin: 1em 0;
}

embed,
iframe,
object {
	max-width: 100%;
}