a {
	color: $color_primary;
	text-decoration: none;
    @include smooth-animation;

	&:hover,
	&:focus,
	&:active {
		color: $color_secondary;
		text-decoration: none;
	}

	&:focus {
		outline: thin dotted;
	}
	
	&:hover,
	&:active {
		outline: 0;
	}
    
    &.archive-link {
        color: $color_primary;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 0.7em;
        
        &:hover,
        &:focus,
        &:active {
            color: $color_secondary;
            text-decoration: none;
        }

    }
}
