html {
    font-size: 16px;
}

body,
button,
input,
select,
optgroup,
textarea {
	color: $color_text-main;
	font-family: $font_body;
	@include font-size(1);
	line-height: $font_line-height-body;
}

body {
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font_heading;
    line-height: 1.25;
    clear: both;
}

h1, h2 {
    font-size: 1.875rem;
}

h3, h4 {
    font-size: 1.5rem;
}