/**
 * Basic typography style for copy text
 */
body {
  color: $color-text;
  font-weight: normal;
  font-family: $font-body;
}

strong, b {
  font-weight: bolder;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-heading;
  line-height: 1.25;
  font-weight: bolder;
}

h1, h2 {
  font-size: 3.5rem;
}

h3, h4 {
  font-size: 3rem;
}

h5, h6 {
  font-size: 2.5rem;
}

p {
  font-size: 1.6rem;
}

a, button {
  font-size: 1.6rem;
  color: $color-link;
}
