// -------------------------------------------------------------------------
// This file contains styles for Wordpress content
// -------------------------------------------------------------------------

/// Contents
// Heading
// Paragraph
// Button
// Image
// Quote
// List
// Separator
// Preformatted
// Gallery
// Table
// File
// Custom styles

/// Variables
$entry-line-height: 1.4;
$entry-font-size: 2rem;
$enrty-margin-top-bottom: 2rem 0;

.entry-content,
.entry-section {
  // Heading
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 4rem 0 1rem;
    line-height: $entry-line-height;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.7rem;
  }

  h3 {
    font-size: 3.4rem;
  }

  h4 {
    font-size: 3.1rem;
  }

  h5 {
    font-size: 2.9rem;
  }

  h6 {
    font-size: 2.7rem;
  }

  // Paragraph
  p {
    margin: $enrty-margin-top-bottom;
    font-size: $entry-font-size;
    line-height: $entry-line-height;
  }

  // Button
  a {
    color: $color-link;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .wp-block-button {
    @include remove-margin-left-right;
    margin: 1rem 0.5rem;

    a {
      color: $color-white;
      background-color: $color-brand;
    }
  }

  // Image
  img {
    max-width: 100%;
    height: auto;
    margin: $enrty-margin-top-bottom;
  }

  // Quote
  blockquote {
    margin: $enrty-margin-top-bottom;
    padding-left: 5rem;
    font-size: $entry-font-size;
    line-height: $entry-line-height;
    border-left: 1.5rem solid $color-brand;
  }

  // List
  ul {
    margin: $enrty-margin-top-bottom;
    list-style: none;

    li {
      position: relative;
      margin: 1rem 0;
      padding-left: 2rem;
      font-size: $entry-font-size;
      line-height: $entry-line-height;

      &::before {
        position: absolute;
        display: block;
        margin-left: -2rem;
        content: '›';
      }
    }

    &.children {
      margin-bottom: 2rem;
    }
  }

  ol {
    margin: $enrty-margin-top-bottom;
    list-style: decimal;

    li {
      margin: 1rem 0;
      font-size: $entry-font-size;
      line-height: $entry-line-height;
      list-style-type: none;
      counter-increment: item;

      &::before {
        display: inline-block;
        width: 2.7rem;
        padding-right: 1rem;
        font-weight: bold;
        text-align: right;
        content: counter(item) '.';
      }
    }
  }

  // Separator
  hr {
    margin: $enrty-margin-top-bottom;
    color: $color-gray;

    &.is-style-wide {
      margin-right: calc((-100vw + 100%) / 2);
      margin-left: calc((-100vw + 100%) / 2);
      padding-right: calc((100vw - 100%) / 2);
      padding-left: calc((100vw - 100%) / 2);
    }

    &.is-style-dots {
      position: relative;

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-top: 0.1rem dashed $color-gray;
        content: '';
      }
    }
  }

  // Preformatted
  pre {
    font-size: $entry-font-size;
    white-space: pre-wrap;

    b,
    strong {
      font-weight: bold;
    }
  }

  // Gallery
  .wp-block-cover,
  .wp-block-cover-image {
    margin: $enrty-margin-top-bottom;
  }

  .wp-block-gallery {
    .wp-block-image {
      max-width: inherit;
    }

    img {
      margin: 0;
    }

    li {
      padding: 0;

      &::before {
        display: none;
      }
    }
  }

  // Table
  .wp-block-table {
    width: 100%;
    margin-top: 5rem;

    thead {
      tr {
        border-bottom: 0.1rem solid $color-gray;

        th {
          padding: 2.2rem 0;
          font-size: $entry-font-size;
        }
      }
    }

    tbody {
      tr {
        border-bottom: 0.1rem solid $color-gray;

        td {
          padding: 1.5rem 0;
          font-size: $entry-font-size;
        }
      }
    }
  }

  // File
  .wp-block-file {
    margin: $enrty-margin-top-bottom;
  }

  /// Custom styles
  // Wrap in mobile gutenber columns reverse order
  .wp-block-columns {
    &.wrap--reverse {
      flex-wrap: wrap-reverse;
    }
  }

  // Wrap in mobile gutenber media and text block columns reverse order
  .wp-block-media-text {
    &.has-media-on-the-right {
      .wp-block-media-text__media {
        @include small {
          grid-row: 2;
        }
      }
      .wp-block-media-text__content {
        @include small {
          grid-row: 1;
        }
      }
    }
  }
}
