// -------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -------------------------------------------------------------------------

@font-face {
  font-weight: normal;
  font-family: 'Roboto';
  font-style: normal;
  @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500');
}
