// -------------------------------------------------------------------------
// Basic typography style for copy text
// -------------------------------------------------------------------------

body {
  color: $color-text;
  font-weight: 300;
  font-size: 2rem;
  font-family: $font-body;
  line-height: 1;
}

strong,
b {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-family: $font-heading;
  line-height: 1;
}

h1 {
  font-size: 5.5rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3.5rem;
}

h5 {
  font-size: 3rem;
}

h6 {
  font-size: 2.5rem;
}

p,
span,
input,
input::placeholder,
textarea {
  font-size: 1.8rem;
  line-height: 1;
}

a,
button {
  color: $color-link;
  font-size: 1.8rem;
  line-height: 1;
}

a {
  transition: color 0.2s ease-in-out;

  &:hover,
  &:visited {
    color: $color-link-hover;
    text-decoration: underline;
  }
}
