// -------------------------------------------------------------------------
// Basic typography style for copy text
// -------------------------------------------------------------------------

body {
  color: $color-text;
  font-weight: 400;
  font-size: 2rem;
  font-family: $font-body;
  line-height: 1;
}

strong,
b {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-family: $font-heading;
  line-height: 1;
  word-break: break-word;
}

h1,
.h1 {
  font-size: 5.5rem;

  @include small {
    font-size: calc(5.5rem - 90%);
  }
}

h2,
.h2 {
  font-size: 5rem;

  @include small {
    font-size: calc(5rem - 90%);
  }
}

h3,
.h3 {
  font-size: 4rem;

  @include small {
    font-size: calc(4rem - 80%);
  }
}

h4,
.h4 {
  font-size: 3.5rem;

  @include small {
    font-size: calc(3.5rem - 70%);
  }
}

h5,
.h5 {
  font-size: 3rem;

  @include small {
    font-size: calc(3rem - 50%);
  }
}

h6,
.h6 {
  font-size: 2.5rem;

  @include small {
    font-size: calc(2.5rem - 50%);
  }
}

p,
span,
input,
input::placeholder,
textarea {
  font-size: 2rem;
  line-height: 1;
}

a,
button {
  color: $color-link;
  font-size: 2rem;
  line-height: 1;
}

a {
  transition: color 0.2s ease-in-out;

  &:hover,
  &:focus {
    color: $color-link-hover;
    text-decoration: underline;
  }
}
