// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Breakpoints map
$small: 700px !default;
// $small-larger kasutada ainult koos $orientation-landscape
$small-larger: 900px !default;
$medium: 1000px !default;
$medium-larger: 1200px !default;
$larger: 1920px !default;

/// Orientations
$orientation-landscape: landscape !default;

/// Container's maximum width
$max-width: 1920px !default;

/// Regular font family
$font-body: 'Roboto', sans-serif !default;

$font-heading: 'Roboto', sans-serif !default;

/// Brand colors
$color-brand: #262629 !default;

/// Page background color
$color-bg: #ffffff !default;

/// Text colors
$color-text: #202028 !default;

/// Link color
$color-link: #797981 !default;
$color-link-visited: $color-link !default;
$color-link-hover: $color-link !default;

/// More colors

/// White
$white: #ffffff !default;
$color-white: #ffffff !default;

/// Black
$black: #000000 !default;
$color-black: #000000 !default;
