.news-box {
    width: 100%;
    margin: 5rem 0;
  
    &__image {
      @include smooth-animation;
      width: 100%;
      height: 0;
      margin-bottom: 2rem;
      padding-bottom: 56%;
      background-color: #edeff5;
      background-position: center;
      background-size: auto 100%;
      border-radius: 0.6rem;
    }
  
    &__info {
      color: $color-black;
  
      p {
        margin-bottom: 2rem;
        color: #a5acbe;
        font-size: 1.4rem;
      }
  
      h1,
      h2,
      h3,
      h4,
      h5 {
        font-weight: normal;
        font-size: 2.6rem;
        line-height: 1.2;
      }
    }
  
    &:hover {
      text-decoration: none;
  
      .news-box__image {
        background-size: auto 110%;
      }
    }
  }
  