.ws-logo {
  display: flex;
  align-items: center;

  a {
    &:first-of-type {
      display: flex;
      align-items: center;
      opacity: 0.8;
      transition: all 0.3s ease-in-out;
      color: $color-gray;
      text-transform: uppercase;
      font-size: 1rem;
      text-align: right;
      max-width: 5rem;
      line-height: 1.3;
    }
  }

  &__image {
    img {
      height: 2rem;
      transition: all 0.3s ease-in-out;
      margin-left: 0.9rem;
      opacity: 0.8;
    }

    &:hover {
      text-decoration: none;

      img {
        transform: rotate(360deg);
        opacity: 1;
      }
    }
  }
}
